.articles-wrapper
  .article
    .article-head
      .thumb-img
      .first-name
        = link_to article.user.first_name, profile_path(article.user.first_name)
      .time-ago
        = time_ago_in_words article.created_at
    .image.center-block
      =link_to (image_tag article.image.url(:medium), class:'img-responsive'), article_path(article)
    .article-bottom
      %p.caption
        =article.caption
      .comments{id: "comments_#{article.id}"}
        - if article.comments.any?
        .paginator{id: "#comments-paginator-#{article.id}"}
          - unless article.comments.count <= 4
            = link_to "view all #{article.comments.count} comments", article_comments_path(article), remote: true, class: 'more-comments', data: {article_id: "#{article.id}", type: "html"}
        = render article.comments.last(4), article: article